---
import Layout from "../../layouts/Layout.astro";
const res = await fetch("https://apis.ccbp.in/blogs");
const resData = await res.json();
import Card from "../../components/Card.astro";
import data from "../../data/blogDates.json";

---

<Layout>
    <div class="bg-white py-20">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Some of the React Blogs</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">
              Learn how to grow your business with our expert advice.
            </p>
          </div>
          <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            {resData.map((post) => (
              <Card postData={post} date={data[post.id]} />
            ))}
          </div>
        </div>
      </div>
</Layout>
